<p id="notice"><%= notice %></p>

<h1>FunCerts</h1>

<div id="tag_cloud">
  <% tag_cloud Certification.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Certification</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @certifications.each do |certification| %>
      <tr>
        <td><%= link_to certification.name, certification %></td>

		<td>(<%= raw certification.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>)</td>

        <td><%#= link_to 'Edit', edit_certification_path(certification) %></td>
        <td><%#= link_to 'Destroy', certification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certification', new_certification_path %>
